@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Montserrat:wght@300;400;500;600;700&family=Roboto&display=swap");
* {
  padding: 0s;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --main-color: linear-gradient(93.89deg, #f71b2c -1.38%, #ed1b8d 45.84%, #ff7027 100.94%);
  --color-text: #ffffff;
  --font-size: 18px;
  --font-size-title: 50px;
  --font-family-1: "Montserrat", sans-serif;
  --font-family-2: "Roboto", sans-serif;
  --font-family-3: "Inter", sans-serif;
  --font-family-4: "Gilroy", sans-serif;
  --base-margin-top: 110px;
}

@media (max-width: 992px) {
  :root {
    --main-color: linear-gradient(93.89deg, #f71b2c -1.38%, #ed1b8d 45.84%, #ff7027 100.94%);
    --color-text: #ffffff;
    --font-size: 18px;
    --font-size-title: 50px;
    --font-family-1: "Montserrat", sans-serif;
    --font-family-2: "Roboto", sans-serif;
    --font-family-3: "Inter", sans-serif;
    --font-family-4: "Gilroy", sans-serif;
    --base-margin-top: 55px;
  }
}
html,
body {
  font-size: var(--font-size);
  color: var(--color-text);
  font-family: var(--font-family-1);
  font-family: var(--font-family-2);
  font-family: var(--font-family-3);
  font-family: var(--font-family-4);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #0f0f34;
}

.container {
  max-width: 1790px;
  padding: 0 15px;
  margin: 0 auto;
}

.color-btn {
  color: var(--color-text);
  text-transform: uppercase;
  border-radius: 60px;
  white-space: nowrap;
  position: relative;
  background: var(--main-color);
  -webkit-box-shadow: 0.0625rem 0.0625rem 1.25rem 0.5rem var(--main-color);
          box-shadow: 0.0625rem 0.0625rem 1.25rem 0.5rem var(--main-color);
  -webkit-transition: 400ms;
  transition: 400ms;
  z-index: 5;
}
.color-btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--main-color);
  -webkit-transform: translate3d(0rem, 0.25rem, 0) scale(1);
          transform: translate3d(0rem, 0.25rem, 0) scale(1);
  -webkit-filter: blur(1.25rem);
          filter: blur(1.25rem);
  opacity: var(0.7);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.color-btn::before {
  content: "";
  position: absolute;
  width: 406px;
  height: 90px;
  top: -5px;
  left: -6px;
  z-index: 1;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 5px solid rgba(131, 45, 45, 0.6509803922);
  background: var(--main-color);
  opacity: 0.3;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.color-btn:hover {
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}

/*------------------------------------*/
.header {
  background: url(../images/Header/background.webp) center no-repeat;
  font-family: var(--font-family-1);
  background-size: cover;
}
@media (max-width: 992px) {
  .header {
    background: url(../images/Header/background.webp) center center no-repeat;
  }
}
@media (max-width: 320px) {
  .header {
    background: url(../images/Header/background-mob.webp) 0px 0px no-repeat;
  }
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 195px;
}
@media (max-width: 992px) {
  .header__top {
    padding-top: 10px;
    margin-bottom: 55px;
  }
}
.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992px) {
  .header__whatsapp {
    display: none;
  }
}
.header__logo {
  margin-right: 10px;
}
@media (max-width: 992px) {
  .header__logo {
    margin-right: 0px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 992px) {
  .header__right {
    display: none;
  }
}
.header__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.875rem;
  margin-bottom: 10px;
}
.header__info {
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 1.875rem;
}
@media (max-width: 992px) {
  .header__nav {
    display: none;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__link {
  color: var(--color-text);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
}
.header__img {
  margin-right: 1.125rem;
}
.header__tel {
  font-family: "Inter";
  font-weight: 800;
  color: var(--color-text);
  font-size: var(--font-size);
  line-height: 30px;
}
.header__time {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.header__top-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  margin-left: 3.125rem;
  color: var(--color-text);
  padding: 10px 50px;
  margin-left: 3.75rem;
  background: none;
  position: relative;
  white-space: nowrap;
}
.header__top-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 5px solid transparent;
  background: var(--main-color);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.header .toggle-nav {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 993px) {
  .header .toggle-nav {
    display: none;
  }
}
.header .toggle-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 170px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header .toggle-nav ul li {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}
.header .toggle-nav ul li a {
  display: block;
  font-size: 2em;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.header .toggle-nav ul li button {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 13.5px 46px;
  background: none;
  border: 1px solid #ffffff;
  margin-top: 30px;
  white-space: nowrap;
  -webkit-filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}
.header .toggle-nav ul li button:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 600ms;
  transition: 600ms;
}
.header .toggle-btn {
  display: block;
  position: fixed;
  z-index: 100;
  right: 40px;
  top: 30px;
  cursor: pointer;
}
@media (min-width: 993px) {
  .header .toggle-btn {
    display: none;
  }
}
.header .toggle-btn .bar {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.header .toggle-btn .bar:nth-child(2) {
  width: 20px;
}
.header #toggle:checked ~ nav {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}
.header #toggle:checked ~ nav ul {
  top: 70px;
}
.header #toggle:checked ~ nav ul li {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
.header #toggle:checked ~ nav ul li:nth-child(1) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
.header #toggle:checked ~ nav ul li:nth-child(2) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
.header #toggle:checked ~ nav ul li:nth-child(3) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
.header #toggle:checked ~ nav ul li:nth-child(4) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
.header #toggle:checked + label.toggle-btn .bar {
  background-color: red;
}
.header #toggle:checked + label.toggle-btn .bar:nth-child(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}
.header #toggle:checked + label.toggle-btn .bar:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}
.header #toggle:checked + label.toggle-btn .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 78px;
  text-align: center;
  margin-bottom: 2.0625rem;
  max-width: 62.5rem;
}
.header__title span {
  font-weight: 900;
  color: var(--main-color);
  background: linear-gradient(93.89deg, #f71b2c -1.38%, #ed1b8d 45.84%, #ff7027 100.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  white-space: nowrap;
}
.header__title span::after {
  content: "";
  width: 505px;
  height: 18px;
  left: 5px;
  bottom: -5px;
  position: absolute;
  background: url(../images/Header/subtitle.svg);
}
@media (max-width: 992px) {
  .header__title span::after {
    width: 251px;
    height: 8px;
    background: url(../images/Header/subtitle-min.svg);
  }
}
@media (max-width: 992px) {
  .header__title {
    font-size: 24px;
    line-height: 32px;
  }
}
.header__subtitle {
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 1.875rem;
  max-width: 45.625rem;
  margin-bottom: 3.75rem;
}
@media (max-width: 992px) {
  .header__subtitle {
    display: none;
  }
}
.header__body-btn {
  color: var(--color-text);
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  padding: 1.5313rem 5rem;
  background: var(--main-color);
  border-radius: 3.375rem;
  -webkit-box-shadow: 0.0625rem 0.0625rem 1.25rem 0.5rem var(--main-color);
          box-shadow: 0.0625rem 0.0625rem 1.25rem 0.5rem var(--main-color);
  position: relative;
  z-index: 5;
  margin-bottom: 220px;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.header__body-btn:hover {
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}
.header__body-btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--main-color);
  -webkit-transform: translate3d(0rem, 0.25rem, 0) scale(1);
          transform: translate3d(0rem, 0.25rem, 0) scale(1);
  -webkit-filter: blur(1.25rem);
          filter: blur(1.25rem);
  opacity: var(0.7);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.header__body-btn::before {
  content: "";
  position: absolute;
  width: 456px;
  height: 100px;
  top: -5px;
  left: -6px;
  z-index: 1;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 5px solid rgba(131, 45, 45, 0.6509803922);
  background: var(--main-color);
  opacity: 0.3;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
@media (max-width: 992px) {
  .header__body-btn {
    font-size: 12px;
    line-height: 24px;
    padding: 18px;
    margin-bottom: 180px;
  }
  .header__body-btn::before {
    width: 235px;
    height: 70px;
  }
}
.header__bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 96px;
  padding-bottom: 102px;
}
@media (max-width: 992px) {
  .header__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding-bottom: 80px;
  }
}
.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.header__flex div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__flex div span {
  font-size: 22px;
}
.header__flex:nth-child(1)::before {
  content: "";
  position: absolute;
  right: -50px;
  bottom: 20px;
  width: 1px;
  height: 80px;
  background: #363656;
}
.header__flex:nth-child(2)::before {
  content: "";
  position: absolute;
  right: -50px;
  bottom: 20px;
  width: 1px;
  height: 80px;
  background: #363656;
}
.header__flex:nth-child(3)::before {
  content: "";
  position: absolute;
  right: -50px;
  bottom: 20px;
  width: 1px;
  height: 80px;
  background: #363656;
}
@media (max-width: 992px) {
  .header__flex::before {
    display: none;
  }
}
@media (max-width: 320px) {
  .header__flex div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__flex div span {
    font-size: 16px;
  }
}
.header__num {
  font-weight: 300;
  font-size: 50px;
  line-height: 74px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .header__num {
    font-size: 32px;
    line-height: 32px;
    white-space: nowrap;
  }
}
.header__text {
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 30px;
  text-align: center;
}
@media (max-width: 992px) {
  .header__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.main {
  background: url(../images/Main/bg.webp) center no-repeat;
}
.main .services {
  font-family: var(--font-family-1);
}
.main .services .container {
  max-width: 1310px;
}
.main .services__tabs {
  padding-top: var(--base-margin-top);
}
@media (max-width: 992px) {
  .main .services__tabs {
    display: none;
  }
}
.main .services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  border: 1px solid #2d2d5a;
  border-radius: 12px;
  padding: 15px;
}
.main .services__box-left {
  margin: 5px 0px 0px 5px;
}
.main .services__box-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.main .services__box-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  max-width: 290px;
  margin-bottom: 5px;
}
.main .services__box-link {
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 10px;
  background: var(--main-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  color: var(--color-text);
  position: relative;
}
.main .services__box-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  right: -22px;
  bottom: 2px;
  background: url(../images/Main/services/arrow.svg);
}
.main .services .services-btn {
  color: var(--color-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding: 13px 47px;
  border-radius: 40px;
  background: none;
  position: relative;
  white-space: nowrap;
}
.main .services .services-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 5px solid transparent;
  background: var(--main-color);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.main .services .buttonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2px;
  border-bottom: 1.5008px solid #2d2d5a;
}
.main .services .tab-button {
  font-weight: 500;
  font-size: 24px;
  line-height: 78px;
  background: none;
  color: var(--color-text);
  position: relative;
}
.main .services .tab-button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 4px;
  width: 286.8px;
  height: 6px;
  background: linear-gradient(93.89deg, #f71b2c -1.38%, #ed1b8d 45.84%, #ff7027 100.94%);
  border-radius: 4px;
}
.main .services p {
  text-align: left;
  padding: 10px;
}
.main .services .content {
  display: none;
  margin-top: 70px;
}
.main .services .content.active {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.main .services__mob {
  margin-top: var(--base-margin-top);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 993px) {
  .main .services__mob {
    display: none;
  }
}
@media (min-width: 993px) {
  .main .services__mob2 {
    display: none;
  }
}
.main .services__box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .services__mob-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 42px;
}
.main .services__mob-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  border: 1px solid #2d2d5a;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 18px;
}
.main .services__mob-box-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.main .services__box-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  max-width: 290px;
  margin-bottom: 5px;
}
.main .services__mob-box-link {
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 10px;
  background: var(--main-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  color: var(--color-text);
  position: relative;
}
.main .services__mob-box-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  right: 206px;
  bottom: 8px;
  background: url(../images/Main/services/arrow.svg);
}
.main .services .services-mob-btn {
  display: inline-block;
  color: var(--color-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding: 13px 50px;
  border-radius: 40px;
  background: none;
  position: relative;
  white-space: nowrap;
}
.main .services .services-mob-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 5px solid transparent;
  background: var(--main-color);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.main .consultation {
  font-family: var(--font-family-1);
  margin-top: var(--base-margin-top);
}
.main .consultation .container {
  max-width: 1170px;
}
.main .consultation__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 220px;
  background: url(../images/Main/consultation/consultation-bg.webp) center no-repeat;
  background-size: 120% 135%;
  -webkit-box-shadow: 0px 14px 44px #02040f, inset 0px 10px 62px #30385f;
          box-shadow: 0px 14px 44px #02040f, inset 0px 10px 62px #30385f;
  border-radius: 130px 20px 20px 20px;
  position: relative;
}
.main .consultation__body::before {
  content: "";
  position: absolute;
  right: -15px;
  top: -15px;
  width: 70px;
  height: 70px;
  background: url(../images/Main/consultation/tipo-telegramm.svg);
}
.main .consultation__title {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 25px;
  text-align: center;
  white-space: nowrap;
}
.main .consultation__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 58px;
  text-align: center;
}
.main .consultation__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  position: relative;
}
.main .consultation__box::after {
  content: "";
  position: absolute;
  left: 34px;
  bottom: 25px;
  width: 18px;
  height: 18px;
  background: url(../images/Main/consultation/tel.svg);
}
.main .consultation__input {
  padding: 24px 90px 24px 75px;
  background: rgba(25, 25, 64, 0.6);
  border-radius: 50px;
  font-weight: 600;
  font-size: var(--font-size);
  line-height: 22px;
  color: var(--color-text);
  position: relative;
}
.main .consultation__input placeholder {
  color: #71719c;
}
.main .consultation__btn {
  color: var(--color-text);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 21px 50px;
  border-radius: 60px;
  white-space: nowrap;
  position: relative;
  background: var(--main-color);
  -webkit-box-shadow: 0.0625rem 0.0625rem 1.25rem 0.5rem var(--main-color);
          box-shadow: 0.0625rem 0.0625rem 1.25rem 0.5rem var(--main-color);
  z-index: 5;
}
.main .consultation__btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--main-color);
  -webkit-transform: translate3d(0rem, 0.25rem, 0) scale(1);
          transform: translate3d(0rem, 0.25rem, 0) scale(1);
  -webkit-filter: blur(1.25rem);
          filter: blur(1.25rem);
  opacity: var(0.7);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.main .consultation__btn::before {
  content: "";
  position: absolute;
  width: 354px;
  height: 82px;
  top: -5px;
  left: -6px;
  z-index: 1;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 5px solid rgba(131, 45, 45, 0.6509803922);
  background: var(--main-color);
  opacity: 0.3;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.main .preference {
  margin-top: var(--base-margin-top);
}
.main .preference .container {
  max-width: 1080px;
}
.main .preference__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  max-width: 804px;
  text-align: center;
  margin: 0px auto 90px auto;
}
.main .preference__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  margin-bottom: 100px;
}
.main .preference__box-title {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 34px;
  margin-bottom: 25px;
}
.main .preference__box-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 45px;
  max-width: 580px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.main .preference__box-btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding: 21px 36px;
}
.main .preference__box-btn::before {
  width: 226px;
  height: 70px;
}
.main .clients {
  font-family: var(--font-family-1);
  margin-top: var(--base-margin-top);
}
.main .clients__title {
  font-weight: 500;
  font-size: 3.125rem;
  line-height: 70px;
  margin-bottom: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main .clients__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .questions {
  font-family: var(--font-family-1);
  margin-top: var(--base-margin-top);
}
.main .questions .container {
  width: 920px;
}
.main .questions__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 80px;
}
.main .questions input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.main .questions .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .questions .row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main .questions .row .col:last-child {
  margin-left: 1em;
}
.main .questions .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.main .questions .tab {
  width: 100%;
  color: white;
  overflow: hidden;
  background: #261f49;
  border: 1.5px solid #2e2e4b;
  border-radius: 12px;
}
.main .questions .tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em;
  background: #261f49;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.main .questions .tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.main .questions .tab-content {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  max-height: 0;
  padding: 0 1em;
  color: #ededff;
  background: #261f49;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.main .questions input:checked + .tab-label {
  background: #261f49;
}
.main .questions input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.main .questions input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
.main .answer {
  margin-top: calc(var(--base-margin-top) * 2);
  padding-bottom: var(--base-margin-top);
}
.main .answer .container {
  max-width: 1170px;
}
.main .answer__body {
  padding: 60px;
  -webkit-box-shadow: 0px 14px 44px #02040f, inset 0px 10px 62px #30385f;
          box-shadow: 0px 14px 44px #02040f, inset 0px 10px 62px #30385f;
  border-radius: 130px 20px 20px 20px;
  position: relative;
}
.main .answer__body::after {
  content: "";
  position: absolute;
  width: 437px;
  height: 555px;
  right: 30px;
  bottom: 0;
  background: url(../images/Main/answer/woman.webp);
}
.main .answer__body::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 134px;
  left: -140px;
  bottom: 400px;
  background: url(../images/Main/answer/1.webp);
}
.main .answer__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  max-width: 510px;
  margin-bottom: 40px;
  margin-left: 30px;
}
.main .answer__list {
  margin-bottom: 45px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.main .answer__item {
  font-weight: 600;
  font-size: var(--font-size);
  line-height: 30px;
}
.main .answer__btn {
  color: var(--color-text);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 21px 50px;
  margin-left: 30px;
  border-radius: 60px;
  white-space: nowrap;
  position: relative;
  background: var(--main-color);
  -webkit-box-shadow: 0.0625rem 0.0625rem 1.25rem 0.5rem var(--main-color);
          box-shadow: 0.0625rem 0.0625rem 1.25rem 0.5rem var(--main-color);
  z-index: 5;
}
.main .answer__btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--main-color);
  -webkit-transform: translate3d(0rem, 0.25rem, 0) scale(1);
          transform: translate3d(0rem, 0.25rem, 0) scale(1);
  -webkit-filter: blur(1.25rem);
          filter: blur(1.25rem);
  opacity: var(0.7);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.main .answer__btn::before {
  content: "";
  position: absolute;
  width: 332px;
  height: 70px;
  top: -5px;
  left: -5.5px;
  z-index: 1;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 5px solid rgba(131, 45, 45, 0.6509803922);
  background: var(--main-color);
  opacity: 0.3;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.map {
  position: relative;
  color: #0f0f34;
}
.map::after {
  content: "";
  position: absolute;
  width: 390px;
  height: 459px;
  left: 100px;
  top: -100px;
  background: url(../images/map/contact.webp);
}
.map iframe {
  margin: 0 auto;
}

.footer {
  padding-top: var(--base-margin-top);
  padding-bottom: 55px;
  font-family: var(--font-family-1);
  background: url(../images/Footer/bg.webp) -800px -660px no-repeat;
}
.footer .container {
  max-width: 1500px;
}
.footer__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__box:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}
.footer__box:nth-child(5) {
  grid-column: 3;
  grid-row: 2;
}
.footer__box:nth-child(6) {
  grid-column: 4;
  grid-row: 1;
}
.footer__box-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.footer__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  white-space: nowrap;
}
.footer__info {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  white-space: nowrap;
}
.footer__addres {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-decoration-line: underline;
  color: #ece9ff;
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
  min-width: 360px;
}
.footer__addres::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -35px;
  bottom: 20px;
  background: url(../images/Footer/map.svg);
}
.footer__email {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-decoration-line: underline;
  color: #ece9ff;
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
}
.footer__email::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -35px;
  bottom: 0;
  background: url(../images/Footer/mail.svg);
}
.footer__prava {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #746fa3;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 260%;
  color: var(--color-text);
}
.footer__link:hover {
  background: var(--main-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-decoration-line: underline;
}
.footer__number {
  color: var(--color-text);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.footer__tel {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-text);
}
.footer__time {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #b7abe0;
  margin: 10px 0px 20px 0px;
}
.footer__btn {
  padding: 12px 22px;
  color: var(--color-text);
  text-transform: uppercase;
  border-radius: 60px;
  white-space: nowrap;
  position: relative;
  background: var(--main-color);
  z-index: 5;
  margin-bottom: 25px;
}
.footer__btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--main-color);
  border-radius: 60px;
}
.footer__subscribe {
  font-family: var(--font-family-4);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding-left: 0;
}
.btn-up {
  position: fixed;
  right: 30px;
  top: 85%;
  cursor: pointer;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.btn-up.show {
  opacity: 1;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.top-text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-text);
}