@import "_nullstyle";
@import "_varables";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Montserrat:wght@300;400;500;600;700&family=Roboto&display=swap");

:root {
	--main-color: linear-gradient(93.89deg, #f71b2c -1.38%, #ed1b8d 45.84%, #ff7027 100.94%);
	--color-text: #ffffff;
	--font-size: 18px;
	--font-size-title: 50px;
	--font-family-1: "Montserrat", sans-serif;
	--font-family-2: "Roboto", sans-serif;
	--font-family-3: "Inter", sans-serif;
	--font-family-4: "Gilroy", sans-serif;
	--base-margin-top: 110px;
}

@include breakpoint(lg) {
	:root {
		--main-color: linear-gradient(93.89deg, #f71b2c -1.38%, #ed1b8d 45.84%, #ff7027 100.94%);
		--color-text: #ffffff;
		--font-size: 16px;
		--font-size-title: 24px;
		--font-family-1: "Montserrat", sans-serif;
		--font-family-2: "Roboto", sans-serif;
		--font-family-3: "Inter", sans-serif;
		--font-family-4: "Gilroy", sans-serif;
		--base-margin-top: 55px;
	}
}

html,
body {
	font-size: var(--font-size);
	color: var(--color-text);
	font-family: var(--font-family-1);
	font-family: var(--font-family-2);
	font-family: var(--font-family-3);
	font-family: var(--font-family-4);
}
.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	background: #0f0f34;
}
.container {
	max-width: 1790px;
	padding: 0 15px;
	margin: 0 auto;
}
.color-btn {
	color: var(--color-text);
	text-transform: uppercase;
	border-radius: 60px;
	white-space: nowrap;
	position: relative;
	background: var(--main-color);
	box-shadow: 1px 1px 20px 8px var(--main-color);
	transition: 400ms;
	z-index: 5;
	&::after {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--main-color);
		transform: translate3d(0px, 4px, 0) scale(1);
		filter: blur(20px);
		opacity: var(0.7);
		transition: opacity 0.3s;
	}
	&::before {
		content: "";
		position: absolute;
		width: 406px;
		height: 90px;
		top: -5px;
		left: -6px;
		z-index: 1;
		right: 0;
		bottom: 0;
		border-radius: 50px;
		border: 5px solid #832d2da6;
		background: var(--main-color);
		opacity: 0.3;
		-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
		-webkit-mask-composite: destination-out;
		mask-composite: exclude;
	}
	&:hover {
		transform: translateY(-10px);
	}
}

/*------------------------------------*/

.header {
	background: url(../images/Header/background.webp) center no-repeat;
	font-family: var(--font-family-1);
	background-size: cover;
	@include breakpoint(lg) {
		background: url(../images/Header/background.webp) center center no-repeat;
	}
	@include breakpoint(xs) {
		background: url(../images/Header/background-mob.webp) 0px 0px no-repeat;
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 50px;
		margin-bottom: 195px;
		@include breakpoint(lg) {
			padding-top: 10px;
			margin-bottom: 55px;
		}
	}

	&__box {
		display: flex;
	}

	&__whatsapp {
		display: flex;
		@include breakpoint(lg) {
			display: none;
		}
	}

	&__logo {
		margin-right: 10px;
		@include breakpoint(lg) {
			margin-right: 0px;
			object-fit: cover;
		}
	}

	&__right {
		@include breakpoint(lg) {
			display: none;
		}
	}

	&__name {
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 10px;
	}

	&__info {
		font-weight: 500;
		font-size: 10px;
		line-height: 30px;
	}

	&__nav {
		@include breakpoint(lg) {
			display: none;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	&__item {
	}

	&__link {
		color: var(--color-text);
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
	}

	&__img {
		margin-right: 18px;
	}

	&__tel {
		font-family: "Inter";
		font-weight: 800;
		color: var(--color-text);
		font-size: var(--font-size);
		line-height: 30px;
	}

	&__time {
		font-family: "Inter";
		font-weight: 400;
		font-size: 14px;
		line-height: 30px;
	}

	&__top-btn {
		font-weight: 700;
		font-size: 16px;
		line-height: 40px;
		margin-left: 50px;
		color: var(--color-text);
		padding: 10px 50px;
		background: none;
		position: relative;
		white-space: nowrap;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 50px;
			border: 5px solid transparent;
			background: var(--main-color);
			-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
			mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
		}
	}

	.toggle-nav {
		background-color: rgba(0, 0, 0, 0.8);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
		@include breakpoint(minlg) {
			display: none;
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			list-style-type: none;
			padding: 0;
			margin: 0;
			position: absolute;
			left: 50%;
			top: 170px;
			transition: all 0.3s ease-in-out;
			transform: translateX(-50%);

			li {
				transform: translateY(50px);
				opacity: 0;

				a {
					display: block;
					font-size: 2em;
					text-decoration: none;
					padding: 10px 0;
					text-align: center;
					color: #fff;
					font-weight: bold;
					transition: all 0.2s ease-in-out;
					text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
				}
				button {
					font-weight: 500;
					font-size: 17px;
					line-height: 25px;
					letter-spacing: .2px;
					color: #ffffff;
					padding: 13.5008px 46px;
					background: none;
					border: 1px solid #ffffff;
					margin-top: 30px;
					white-space: nowrap;
					filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
					&:hover {
						transform: translateY(-10px);
						transition: 600ms;
					}
				}
			}
		}
	}

	.toggle-btn {
		display: block;
		position: fixed;
		z-index: 100;
		right: 40px;
		top: 30px;
		cursor: pointer;
		@include breakpoint(minlg) {
			display: none;
		}

		.bar {
			width: 30px;
			height: 2px;
			margin: 7px auto;
			background-color: #fff;
			transition: all 0.3s ease-in-out;
			box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);

			&:nth-child(2) {
				width: 20px;
			}
		}
	}

	#toggle:checked {
		& ~ nav {
			opacity: 1;
			visibility: visible;
			z-index: 99;
			ul {
				top: 70px;

				li {
					transform: translateY(0px);
					opacity: 1;

					@for $i from 1 through 4 {
						$t: $i * 0.1;
						&:nth-child(#{$i}) {
							transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) #{$t}s;
						}
					}
				}
			}
		}

		& + label.toggle-btn {
			.bar {
				background-color: red;

				&:nth-child(2) {
					transform: translateX(50px);
					opacity: 0;
				}

				&:nth-child(1) {
					transform: translateY(10px) rotate(45deg);
				}

				&:nth-child(3) {
					transform: translateY(-8px) rotate(-45deg);
				}
			}
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-weight: 500;
		font-size: 50px;
		line-height: 78px;
		text-align: center;
		margin-bottom: 33px;
		max-width: 1000px;
		span {
			font-weight: 900;
			color: var(--main-color);
			background: linear-gradient(93.89deg, #f71b2c -1.38%, #ed1b8d 45.84%, #ff7027 100.94%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			position: relative;
			white-space: nowrap;
			&::after {
				content: "";
				width: 505px;
				height: 18px;
				left: 5px;
				bottom: -5px;
				position: absolute;
				background: url(../images/Header/subtitle.svg);
			}
			@include breakpoint(lg) {
				&::after {
					width: 251px;
					height: 8px;
					background: url(../images/Header/subtitle-min.svg);
				}
			}
		}
		@include breakpoint(lg) {
			font-size: 24px;
			line-height: 32px;
		}
	}

	&__subtitle {
		font-weight: 400;
		font-size: var(--font-size);
		line-height: 30px;
		max-width: 730px;
		margin-bottom: 60px;
		@include breakpoint(lg) {
			display: none;
		}
	}

	&__body-btn {
		color: var(--color-text);
		font-weight: 700;
		font-size: 15px;
		line-height: 30px;
		padding: 24.5008px 80px;
		background: var(--main-color);
		border-radius: 54px;
		box-shadow: 1px 1px 20px 8px var(--main-color);
		position: relative;
		z-index: 5;
		margin-bottom: 220px;
		transition: 400ms;
		&:hover {
			transform: translateY(-10px);
		}
		&::after {
			content: "";
			z-index: -1;
			position: absolute;
			top: -8px;
			right: 0;
			bottom: 0;
			left: 0;
			background: var(--main-color);
			transform: translate3d(0px, 4px, 0) scale(1);
			filter: blur(20px);
			opacity: var(0.7);
			transition: opacity 0.3s;
		}
		&::before {
			content: "";
			position: absolute;
			width: 406px;
			height: 90px;
			top: -5px;
			left: -6px;
			z-index: 1;
			right: 0;
			bottom: 0;
			border-radius: 50px;
			border: 5px solid #832d2da6;
			background: var(--main-color);
			opacity: 0.3;
			-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
			mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
		}
		@include breakpoint(lg) {
			font-size: 12px;
			line-height: 24px;
			padding: 18px;
			margin-bottom: 180px;
			&::before {
				width: 235px;
				height: 70px;
			}
		}
	}

	&__bottom {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 96px;
		padding-bottom: 102px;
		@include breakpoint(lg) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 30px;
			padding-bottom: 80px;
		}
	}

	&__flex {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		div {
			display: flex;
			align-items: center;
			span {
				font-size: 22px;
			}
		}
		&:nth-child(1) {
			&::before {
				content: "";
				position: absolute;
				right: -50px;
				bottom: 20px;
				width: 1px;
				height: 80px;
				background: #363656;
			}
		}
		&:nth-child(2) {
			&::before {
				content: "";
				position: absolute;
				right: -50px;
				bottom: 20px;
				width: 1px;
				height: 80px;
				background: #363656;
			}
		}
		&:nth-child(3) {
			&::before {
				content: "";
				position: absolute;
				right: -50px;
				bottom: 20px;
				width: 1px;
				height: 80px;
				background: #363656;
			}
		}
		@include breakpoint(lg) {
			&::before {
				display: none;
			}
		}
		@include breakpoint(xs) {
			div {
				display: flex;
				align-items: center;
				span {
					font-size: 16px;
				}
			}
		}
	}

	&__num {
		font-weight: 300;
		font-size: 50px;
		line-height: 74px;
		margin-bottom: 20px;
		@include breakpoint(lg) {
			font-size: 32px;
			line-height: 32px;
			white-space: nowrap;
		}
	}

	&__text {
		font-weight: 400;
		font-size: var(--font-size);
		line-height: 30px;
		text-align: center;
		@include breakpoint(lg) {
			font-size: 14px;
			line-height: 24px;
		}
	}
}
.main {
	background: url(../images/Main/bg.webp) center no-repeat;
	@include breakpoint(lg) {
		background: none;
	}
	.services {
		font-family: var(--font-family-1);
		.container {
			max-width: 1310px;
		}
		&__tabs {
			padding-top: var(--base-margin-top);
			@include breakpoint(lg) {
				display: none;
			}
		}

		&__box {
			display: flex;
			align-items: flex-start;
			gap: 20px;
			border: 1px solid #2d2d5a;
			border-radius: 12px;
			padding: 15px;
		}

		&__box-left {
			margin: 5px 0px 0px 5px;
		}

		&__box-right {
		}

		&__box-title {
			font-weight: 600;
			font-size: 18px;
			margin-bottom: 5px;
			white-space: nowrap;
		}

		&__box-text {
			font-weight: 400;
			font-size: 15px;
			line-height: 20px;
			max-width: 290px;
			margin-bottom: 5px;
		}

		&__box-link {
			font-weight: 700;
			font-size: 13px;
			line-height: 30px;
			text-transform: uppercase;
			margin-left: 10px;
			background: var(--main-color);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			color: var(--color-text);
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: 15px;
				height: 12px;
				right: -22px;
				bottom: 2px;
				background: url(../images/Main/services/arrow.svg);
			}
		}

		.services-btn {
			color: var(--color-text);
			font-weight: 700;
			font-size: 18px;
			line-height: 30px;
			padding: 13px 47px;
			border-radius: 40px;
			background: none;
			position: relative;
			white-space: nowrap;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 50px;
				border: 5px solid transparent;
				background: var(--main-color);
				-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
				mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
				-webkit-mask-composite: destination-out;
				mask-composite: exclude;
			}
		}

		.buttonWrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 2px;
			border-bottom: 1.5008px solid #2d2d5a;
		}

		.tab-button {
			font-weight: 500;
			font-size: 24px;
			line-height: 78px;
			background: none;
			color: var(--color-text);
			position: relative;
		}

		.tab-button:hover {
		}

		.tab-button.active {
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 4px;
				width: 286.8px;
				height: 6px;
				background: linear-gradient(93.89deg, #f71b2c -1.38%, #ed1b8d 45.84%, #ff7027 100.94%);
				border-radius: 4px;
			}
		}

		.active {
		}

		p {
			text-align: left;
			padding: 10px;
		}

		.content {
			display: none;
			margin-top: 70px;
		}

		.content.active {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 25px;
		}

		// Mobile

		&__mob {
			margin-top: var(--base-margin-top);
			display: flex;
			flex-direction: column;
			@include breakpoint(minlg) {
				display: none;
			}
		}
		&__mob2 {
			@include breakpoint(minlg) {
				display: none;
			}
		}

		&__box-top {
			display: flex;
			align-items: center;
		}

		&__mob-title {
			font-weight: 600;
			font-size: 18px;
			line-height: 42px;
		}

		&__mob-box {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0px;
			border: 1px solid #2d2d5a;
			border-radius: 12px;
			padding: 15px;
			margin-bottom: 18px;
		}

		&__mob-box-title {
			font-weight: 600;
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 5px;
			white-space: normal;
		}

		&__box-text {
			font-weight: 400;
			font-size: 15px;
			line-height: 20px;
			max-width: 290px;
			margin-bottom: 5px;
		}

		&__mob-box-link {
			font-weight: 700;
			font-size: 13px;
			line-height: 30px;
			text-transform: uppercase;
			margin-left: 10px;
			background: var(--main-color);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			color: var(--color-text);
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: 15px;
				height: 12px;
				right: -20px;
				bottom: 8px;
				background: url(../images/Main/services/arrow.svg);
			}
		}

		.services-mob-btn {
			display: inline-block;
			color: var(--color-text);
			font-weight: 700;
			font-size: 18px;
			line-height: 30px;
			padding: 13px 50px;
			border-radius: 40px;
			background: none;
			position: relative;
			white-space: nowrap;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 50px;
				border: 5px solid transparent;
				background: var(--main-color);
				-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
				mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
				-webkit-mask-composite: destination-out;
				mask-composite: exclude;
			}
		}
	}
	.consultation {
		font-family: var(--font-family-1);
		margin-top: var(--base-margin-top);
		.container {
			max-width: 1170px;
		}
		&__body {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 80px 220px;
			background: url(../images/Main/consultation/consultation-bg.webp) center no-repeat;
			background-size: 120% 135%;
			box-shadow: 0px 14px 44px #02040f, inset 0px 10px 62px #30385f;
			border-radius: 130px 20px 20px 20px;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				right: -15px;
				top: -15px;
				width: 70px;
				height: 70px;
				background: url(../images/Main/consultation/tipo-telegramm.svg);
			}
			@include breakpoint(lg) {
				padding: 40px 20px;
				border-radius: 80px 10px 10px 10px;
				background: none;
				&::before {
					width: 40px;
					height: 40px;
					background: url(../images/Main/consultation/tipo-telegramm-mob.svg);
				}
			}
		}

		&__title {
			font-weight: 600;
			font-size: 36px;
			margin-bottom: 25px;
			text-align: center;
			white-space: nowrap;
			@include breakpoint(lg) {
				max-width: 268px;
				font-size: 18px;
				line-height: 24px;
				white-space: normal;
			}
		}

		&__text {
			font-weight: 300;
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 58px;
			text-align: center;
			color: #c1caf1;
			@include breakpoint(lg) {
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 25px;
			}
		}

		&__box {
			display: flex;
			gap: 40px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				left: 34px;
				bottom: 25px;
				width: 18px;
				height: 18px;
				background: url(../images/Main/consultation/tel.svg);
			}
			@include breakpoint(lg) {
				gap: 20px;
				flex-direction: column;
				&::after {
					left: 20px;
					bottom: 100px;
				}
			}
			@include breakpoint(xs) {
				&::after {
					left: 15px;
					bottom: 96px;
				}
			}
		}

		&__input {
			padding: 24px 90px 24px 75px;
			background: rgba(25, 25, 64, 0.6);
			border-radius: 50px;
			font-weight: 600;
			font-size: var(--font-size);
			line-height: 22px;
			color: var(--color-text);
			position: relative;
			border: 1px solid #26325f;
			placeholder {
				color: #71719c;
			}
			@include breakpoint(lg) {
				padding: 17px 10px 17px 60px;
			}
			@include breakpoint(xs) {
				line-height: 20px;
				padding: 17px 0px 17px 40px;
			}
		}

		&__btn {
			color: var(--color-text);
			font-weight: 700;
			font-size: 15px;
			line-height: 18px;
			text-align: center;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			padding: 21px 50px;
			border-radius: 60px;
			white-space: nowrap;
			position: relative;
			background: var(--main-color);
			box-shadow: 1px 1px 20px 8px var(--main-color);
			z-index: 5;
			&::after {
				content: "";
				z-index: -1;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: var(--main-color);
				transform: translate3d(0px, 4px, 0) scale(1);
				filter: blur(20px);
				opacity: var(0.7);
				transition: opacity 0.3s;
			}
			&::before {
				content: "";
				position: absolute;
				width: 354px;
				height: 82px;
				top: -5px;
				left: -6px;
				z-index: 1;
				right: 0;
				bottom: 0;
				border-radius: 50px;
				border: 5px solid #832d2da6;
				background: var(--main-color);
				opacity: 0.3;
				-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
				mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
				-webkit-mask-composite: destination-out;
				mask-composite: exclude;
			}
			@include breakpoint(lg) {
				&::before {
					width: 352px;
					height: 71px;
				}
			}
			@include breakpoint(xs) {
				font-size: 12px;
				line-height: 15px;
				padding: 21px 10px;
				&::before {
					width: 256px;
					height: 68px;
				}
			}
		}
	}
	.preference {
		margin-top: var(--base-margin-top);
		.container {
			max-width: 1080px;
		}
		&__title {
			font-weight: 500;
			font-size: var(--font-size-title);
			line-height: 70px;
			max-width: 804px;
			text-align: center;
			margin: 0px auto 90px auto;
			@include breakpoint(lg) {
				max-width: 240px;
				line-height: 29px;
				margin: 0px auto 40px auto;
			}
		}

		.box1 {
			@include breakpoint(lg) {
				border-bottom: 1.5008px solid #2a2a5a;
				margin-bottom: 20px;
				padding-bottom: 20px;
				&::after {
					content: "";
					position: absolute;
					width: 174px;
					height: 159px;
					right: -72px;
					top: -95px;
					background: url(../images/Main/preference/1-min.png);
				}
			}
		}

		&__box {
			display: flex;
			gap: 80px;
			margin-bottom: 100px;
			position: relative;
			@include breakpoint(lg) {
				gap: 0;
				margin-bottom: 40px;
				&::after {
					content: "";
					position: absolute;
					width: 110px;
					height: 238px;
					right: -30px;
					top: -5px;
					background: url(../images/Main/preference/2-min.webp);
				}
			}
		}

		&__img {
			@include breakpoint(lg) {
				display: none;
			}
		}

		&__box-title {
			font-weight: 500;
			font-size: 28px;
			line-height: 34px;
			margin-bottom: 25px;
			@include breakpoint(lg) {
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 15px;
			}
			@include breakpoint(xs) {
				max-width: 250px;
			}
		}

		&__box-text {
			font-weight: 300;
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 45px;
			max-width: 580px;
			color: #ffffff80;
			text-align: left;
			@include breakpoint(lg) {
				font-size: 13px;
				line-height: 18px;
				max-width: none;
				margin-bottom: 5px;
				margin-right: 30px;
			}
			@include breakpoint(xs) {
				max-width: 250px;
			}
		}

		&__box-btn {
			font-weight: 700;
			font-size: 15px;
			line-height: 18px;
			padding: 21px 36px;
			&::before {
				width: 226px;
				height: 70px;
			}
			@include breakpoint(lg) {
				display: none;
			}
		}
	}
	.clients {
		font-family: var(--font-family-1);
		margin-top: var(--base-margin-top);
		&__title {
			font-weight: 500;
			font-size: var(--font-size-title);
			line-height: 70px;
			margin-bottom: 80px;
			align-items: center;
			text-align: center;
			@include breakpoint(lg) {
				line-height: 29px;
				margin-bottom: 30px;
			}
		}

		&__body {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 30px;
			padding-left: 0;
		}

		&__item {
			@include breakpoint(lg) {
				&:nth-child(4) {
					display: none;
				}
				&:nth-child(5) {
					display: none;
				}
				&:nth-child(6) {
					display: none;
				}
			}
		}

		&__img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	.questions {
		font-family: var(--font-family-1);
		margin-top: var(--base-margin-top);
		.container {
			max-width: 920px;
		}
		&__title {
			font-weight: 500;
			font-size: var(--font-size-title);
			line-height: 70px;
			margin-bottom: 80px;
			text-align: center;
			@include breakpoint(lg) {
				line-height: 28px;
				margin-bottom: 30px;
			}
		}
		input {
			position: absolute;
			opacity: 0;
			z-index: -1;
		}
		// Layout
		.row {
			display: flex;
			.col {
				flex: 1;
				&:last-child {
					margin-left: 1em;
				}
			}
		}
		.tabs {
			display: flex;
			flex-direction: column;
			gap: 20px;
			overflow: hidden;
			box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
		}
		.tab {
			width: 100%;
			color: white;
			overflow: hidden;
			background: #261f49;
			border: 1.5008px solid #2e2e4b;
			border-radius: 12px;
			&-label {
				display: flex;
				justify-content: space-between;
				padding: 1.5em;
				background: #261f49;
				font-weight: bold;
				cursor: pointer;
				/* Icon */
				&::after {
					content: "\276F";
					width: 1em;
					height: 1em;
					text-align: center;
					transition: all 0.35s;
					transform: rotate(270deg);
				}
				@include breakpoint(lg) {
					font-size: 15px;
					line-height: 18px;
				}
			}
			&-content {
				font-weight: 300;
				font-size: 18px;
				line-height: 30px;
				max-height: 0;
				padding: 0 1em;
				color: #ededff;
				background: #261f49;
				transition: all 0.35s;
				@include breakpoint(lg) {
					font-size: 13px;
					line-height: 18px;
				}
			}
		}

		// :checked
		input:checked {
			+ .tab-label {
				background: #261f49;
				&::after {
					transform: rotate(90deg);
				}
			}
			~ .tab-content {
				max-height: 100vh;
				padding: 1em;
			}
		}
	}
	.answer {
		margin-top: calc(var(--base-margin-top) * 2);
		padding-bottom: var(--base-margin-top);
		.container {
			max-width: 1170px;
		}

		&__body {
			padding: 60px;
			box-shadow: 0px 14px 44px #02040f, inset 0px 10px 62px #30385f;
			border-radius: 130px 20px 20px 20px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 437px;
				height: 555px;
				right: 30px;
				bottom: 0;
				background: url(../images/Main/answer/woman.webp);
			}
			&::before {
				content: "";
				position: absolute;
				width: 38px;
				height: 134px;
				left: -140px;
				bottom: 400px;
				background: url(../images/Main/answer/1.webp);
			}
			@include breakpoint(lg) {
				&::after {
					display: none;
				}
				&::before {
					display: none;
				}
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 20px 35px;
				border-radius: 50px 10px 10px 10px;
			}
		}

		&__title {
			font-weight: 600;
			font-size: 36px;
			line-height: 42px;
			max-width: 510px;
			margin-bottom: 40px;
			margin-left: 30px;
			@include breakpoint(lg) {
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 50px;
				margin-left: 0px;
				max-width: none;
				text-align: center;
			}
		}

		&__list {
			margin-bottom: 45px;
			margin-left: 30px;
			display: flex;
			flex-direction: column;
			gap: 30px;
			@include breakpoint(lg) {
				margin-bottom: 35px;
				margin-left: 0px;
				padding-left: 0px;
			}
		}

		&__item {
			P {
				font-weight: 600;
				font-size: var(--font-size);
				line-height: 30px;
				@include breakpoint(lg) {
					font-weight: 600;
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					position: relative;

					margin-top: 25px;
					&::before {
						content: "";
						position: absolute;
						width: 33px;
						height: 32px;
						top: -45px;
						left: 45%;
						background: url(../images/Main/answer/1-1.svg);
					}
				}
			}
		}

		&__btn {
			color: var(--color-text);
			font-weight: 700;
			font-size: 15px;
			line-height: 18px;
			text-align: center;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			padding: 21px 50px;
			margin-left: 30px;
			border-radius: 60px;
			white-space: nowrap;
			position: relative;
			background: var(--main-color);
			box-shadow: 1px 1px 20px 8px var(--main-color);
			z-index: 5;
			&::after {
				content: "";
				z-index: -1;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: var(--main-color);
				transform: translate3d(0px, 4px, 0) scale(1);
				filter: blur(20px);
				opacity: var(0.7);
				transition: opacity 0.3s;
			}
			&::before {
				content: "";
				position: absolute;
				width: 332px;
				height: 70px;
				top: -5px;
				left: -5.5008px;
				z-index: 1;
				right: 0;
				bottom: 0;
				border-radius: 50px;
				border: 5px solid #832d2da6;
				background: var(--main-color);
				opacity: 0.3;
				-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
				mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
				-webkit-mask-composite: destination-out;
				mask-composite: exclude;
			}
			@include breakpoint(lg) {
				line-height: 15px;
				padding: 20px 20px;
				margin-left: 0;
				letter-spacing: 0;
				&::after {
				}
				&::before {
					width: 262px;
					height: 65px;
				}
			}
			@include breakpoint(xs) {
				font-size: 14px;
				&::after {
				}
				&::before {
					width: 247px;
					height: 65px;
				}
			}
		}
	}
}
.map {
	margin-top: var(--base-margin-top);
	@include breakpoint(xs) {
		background: url(../images/Map/background.svg) 180% -10% no-repeat;
	}
	&__contacts {
		font-family: var(--font-family-1);
		display: none;
		@include breakpoint(lg) {
			display: flex;
			flex-direction: column;
			align-items: left;
		}
	}

	&__title {
		color: var(--color-text);
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
	}

	&__subtitle {
		color: rgb(182, 178, 178);
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		margin-top: 30px;
	}

	&__text {
		color: var(--color-text);
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-top: 15px;
	}

	&__number {
		color: var(--color-text);
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		margin-top: 15px;
	}

	&__time {
		color: var(--color-text);
		font-weight: 400;
		font-size: 13px;
		line-height: 30px;
		margin-top: 10px;
	}

	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 160%;
		margin-top: 15px;

		background: linear-gradient(93.89deg, #f71b2c -1.38%, #ed1b8d 45.84%, #ff7027 100.94%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}

	position: relative;
	color: #0f0f34;
	&::after {
		content: "";
		position: absolute;
		width: 390px;
		height: 459px;
		left: 100px;
		top: -100px;
		background: url(../images/Map/contact.webp);
	}
	@include breakpoint(lg) {
		&::after {
			display: none;
		}
		iframe {
			height: 580px;
			margin-top: 40px;
		}
	}
	@include breakpoint(xs) {
		iframe {
			height: 360px;
		}
	}
}
.footer {
	padding-top: var(--base-margin-top);
	font-family: var(--font-family-1);
	padding-bottom: 55px;
	background: url(../images/Footer/bg.webp) -800px -660px no-repeat;
	.container {
		max-width: 1500px;
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 30px;
		@include breakpoint(lg) {
			grid-template-columns: repeat(2, 190px);
			grid-template-rows: repeat(5, 1fr);
			column-gap: 20px;
			row-gap: 25px;
		}
		@include breakpoint(xs) {
			grid-template-columns: repeat(1, 190px);
			grid-template-rows: repeat(6, 1fr);
			column-gap: 20px;
			row-gap: 25px;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;

		&:nth-child(4) {
			grid-column: 2;
			grid-row: 2;
		}
		&:nth-child(5) {
			grid-column: 3;
			grid-row: 2;
		}
		&:nth-child(6) {
			grid-column: 4;
			grid-row: 1;
		}

		@include breakpoint(lg) {
			&:nth-child(1) {
				grid-column: 1;
				grid-row: 5;
			}
			&:nth-child(2) {
				grid-column: 1;
				grid-row: 1;
			}
			&:nth-child(3) {
				grid-column: 2;
				grid-row: 1;
			}
			&:nth-child(4) {
				grid-column: 1;
				grid-row: 2;
			}
			&:nth-child(5) {
				grid-column: 1;
				grid-row: 3;
			}
			&:nth-child(6) {
				grid-column: 1;
				grid-row: 4;
			}
		}

		@include breakpoint(xs) {
			&:nth-child(1) {
				grid-column: 1;
				grid-row: 6;
			}
			&:nth-child(2) {
				grid-column: 1;
				grid-row: 1;
			}
			&:nth-child(3) {
				grid-column: 1;
				grid-row: 2;
			}
			&:nth-child(4) {
				grid-column: 1;
				grid-row: 3;
			}
			&:nth-child(5) {
				grid-column: 1;
				grid-row: 4;
			}
			&:nth-child(6) {
				grid-column: 1;
				grid-row: 5;
			}
		}
	}

	&__box-logo {
		display: flex;
		margin-bottom: 40px;
		@include breakpoint(lg) {
			margin-bottom: 30px;
		}
	}

	&__logo {
	}

	&__right {
	}

	&__name {
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		white-space: nowrap;
		@include breakpoint(lg) {
			font-weight: 500;
			font-size: 16px;
			line-height: 30px;
		}
	}

	&__info {
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		white-space: nowrap;
		@include breakpoint(lg) {
			font-weight: 500;
			font-size: 8px;
			line-height: 30px;
		}
	}

	&__addres {
		font-weight: 500;
		font-size: 16px;
		line-height: 160%;
		text-decoration-line: underline;
		color: #ece9ff;
		position: relative;
		margin-left: 30px;
		margin-bottom: 30px;
		min-width: 360px;
		&::after {
			content: "";
			position: absolute;
			width: 20px;
			height: 20px;
			left: -35px;
			bottom: 20px;
			background: url(../images/Footer/map.svg);
		}
		@include breakpoint(lg) {
			font-size: 14px;
		}
	}

	&__email {
		font-weight: 500;
		font-size: 16px;
		line-height: 160%;
		text-decoration-line: underline;
		color: #ece9ff;
		position: relative;
		margin-left: 30px;
		margin-bottom: 30px;
		&::after {
			content: "";
			position: absolute;
			width: 20px;
			height: 20px;
			left: -35px;
			bottom: 0;
			background: url(../images/Footer/mail.svg);
		}
	}

	&__prava {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #746fa3;
		white-space: nowrap;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding-left: 0;
	}

	&__item {
	}

	&__item-title {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: var(--color-text);
		@include breakpoint(lg) {
			font-size: 14px;
			line-height: 17px;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 260%;
		white-space: nowrap;
		color: var(--color-text);
		&:hover {
			background: var(--main-color);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-decoration-line: underline;
		}
		@include breakpoint(lg) {
			font-size: 11px;
			line-height: 220%;
		}
	}

	&__number {
	}

	&__tel {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: var(--color-text);
	}

	&__time {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: #b7abe0;
		margin: 10px 0px 20px 0px;
	}

	&__btn {
		padding: 12px 18px 12px 40px;
		color: var(--color-text);
		text-transform: uppercase;
		border-radius: 60px;
		white-space: nowrap;
		position: relative;
		background: var(--main-color);
		z-index: 5;
		margin-bottom: 25px;
		max-width: 200px;
		&::before {
			content: "";
			position: absolute;
			width: 20px;
			height: 20px;
			left: 14px;
			top: 9px;
			background: url(../images/Footer/feedback.svg);
		}
		&::after {
			content: "";
			z-index: -1;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: var(--main-color);
			border-radius: 60px;
		}
	}

	&__subscribe {
		font-family: var(--font-family-4);
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 15px;
	}

	&__social {
	}

	&__social-list {
		display: flex;
		gap: 15px;
		padding-left: 0;
	}

	&__social-item {
	}
}

// btn-up

.btn-up {
	position: fixed;
	right: 30px;
	top: 85%;
	cursor: pointer;
	font-size: 20px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	@include breakpoint(lg) {
		top: 90%;
	}
	.top-text {
		font-family: "Montserrat";
		font-weight: 500;
		font-size: 13px;
		line-height: 30px;
		color: var(--color-text);
	}
}
.btn-up.show {
	opacity: 1;
	transform: translateY(-50px);
}
